[giggle]
	main-window-maximized = false
	main-window-geometry = 800x676+130+40
	history-view-vpane-position = 167
	main-window-view = HistoryView
	file-view-vpane-position = 622
[user]
	name = kongo
	email = d.parshenko@gmail.com
[alias]
	st = status
	ci = commit
	co = checkout
	br = branch
	ps = push
	pl = pull
[color]
  branch = auto
  diff = auto
  status = auto
[web]
	browser = google-chrome
